__pycache__/
*.py[cod]
.pytest_cache/
.tmp/
.idea/
.venv/
generated_tests/*
!generated_tests/
!generated_tests/test_demo.py
!generated_tests/test_formy_project.py
smoke_generated_tests/
.env
log.txt
src/log.txt
generated_tests/log.txt
