__pycache__/
*.py[cod]
.pytest_cache/
.tmp/
.idea/
.venv/
generated_tests/*
!generated_tests/*.py
generated_tests/test_google.py
smoke_generated_tests/
.env
log.txt
src/log.txt
generated_tests/log.txt
